---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../components/LoginForm";
import { Button } from "@/components/ui/button";
---

<Layout>
  <h1 class="px-12">hello</h1>
  <LoginForm />
  <Button>Click me</Button>
</Layout>
