---
import Layout from '../layouts/Layout.astro';
import { DisplayUserWorkouts } from '@/components/DisplayUserWorkouts';
import { AuthWrapper } from '@/components/AuthWrapper';
import { AuthProvider } from '@/context/AuthContext';
---

<Layout showWorkouts={true}>
  <p>inside AppShell</p>
  <div slot="main">
    <p>outside AppShell</p>
  </div>
</Layout>
