---
import Layout from "../layouts/Layout.astro";
import { UserDisplay } from "@/components/UserDisplay";
import { AuthWrapper } from "@/components/AuthWrapper";
---

<Layout>
  <p>inside AppShell</p>
  <div slot="main">
    <p>outside AppShell</p>
  </div>
</Layout>
