---
import Layout from '../layouts/Layout.astro';
import Swapy from '@/components/Swapy';
---

<Layout>
  <p>inside AppShell</p>
  <Swapy client:visible />
  <div slot="main">
    <p>outside AppShell</p>
  </div>
</Layout>
